<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-12 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold mb-6">Latest Posts</h2>

    <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">

    <% @latest_posts.each do |post| %>
      <%= link_to "#" do %>
      <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
        <% if post.image_url.present? %>
            <%= image_tag post.image_url.url, alt: post.title, class: 'h-full w-full object-cover object-center group-hover:opacity-75' %>
        <% end %>
     </div>
      <h3 class="mt-4 text-md text-gray-900"> <%= post.title %> </h3>
      <p class="mt-1 text-sm font-medium text-gray-500">Created by: <%= post.creator %></p>
      <% end %>
    <% end %>
      
    </div>
  </div>
</div>
